@import '../static/constants.scss';
@import 'react-select.scss';
@import 'text-editor.scss';
@import 'admin-table.scss';
@import 'products-list-status.scss';

h1,h2,h3,h4,h5,h6{
  margin: 0;
}
body{
  font-family: 'Inter', sans-serif;
  color: $black;
  background-color: $lightGray;
  overflow-x: hidden;
}
select{
  padding: 16px 15px 14px;
  background-color: $white;
  border-radius: 12px;
  option{
    border: none;
  }
}
:root {
  --swiper-theme-color: #FF8103;
}

.container{
  max-width: 1310px;
  padding: 0 10px;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  
}

.categories_main {
  padding: 30px 0 60px;
}
.categories_main_wrap{
  display: flex;
}

span.price_new{
  font-size: 18px;
  font-weight: 700;
  color: $mainColor;
}
span.price_old{
  font-size: 14px;
  font-weight: 400;
  color: $darkGray;
  text-decoration: line-through;
}
.input_title{
  color: $black;
  margin-bottom: 8px;
  font-size: 12px;
  font-weight: 700;
  text-align: left;
  .input_title_star{
    color: $mainColor;
  }
}
.input_box{
  position: relative;
  .input_box_icon{
    position: absolute;
    width: 26px;
    height: 16px;
    top: 37px;
    right: 16px;
    cursor: pointer;
  }
  .input_box_img{
    position: absolute;
    width: 11px;
    height: 19px;
    top: 37px;
    right: 16px;
  }
}
.input_box_input{
  width: 100%;
  border-radius: 6px;
  background-color: $white;
  padding: 15px 14px 16px;
  &::placeholder{
    font-size: 16px;
    font-weight: 400;
    color: $darkGray;
  }
}
.swiper-button-prev,
.swiper-button-next{
  &.with-border{
    border: 1px solid $mediumGray;
  }
}
.go_back_btn{
  display: flex;
  align-items: center;
  cursor: pointer;
  img{
    width: 24px;
    height: 19px;
  }
  h3{
    font-size: 16px;
    font-weight: 400;
    color: $darkGray;
    margin-left: 16px;
  }
}
.btn_type_1,
.btn_type_2{
  font-size: 16px;
  font-weight: 600;
  color: $white;
  background-color: $mainColor;
  border-radius: 6px;
  padding: 15px 30px 14px;
  transition: background-color .1s linear;
  white-space: nowrap;
  &:hover{
    background-color: $mainDark;
  }
}
.btn_type_2{
  padding: 15px 30px 14px 50px;
  position: relative;
  img, svg{
    position: absolute;
    width: 16px;
    height: 16px;
    top: 15px;
    left: 24px;
  }
}
.btn_type_3{
  font-size: 16px;
  font-weight: 700;
  color: $mainColor;
  padding: 15px 30px 14px;
  border-radius: 6px;
  border: 1px solid $mainColor;
}
.link_type_1 {
  font-size: 16px;
  font-weight: 600;
  color: $mainColor;
  cursor: pointer;
  &:hover{
    color: $mainColor;
  }
}
.link_type_2 {
  position: relative;
  color: $mainColor;
  &:after{
      display: block;
      content: '';
      position: absolute;
      background: url("../../img/arrow-right-orange.svg") center / cover no-repeat;
      width: 6px;
      height: 12px;
      top: 3px;
      right: -14px;
  }
}
.d-none{
  display: none;
}