@import '../static/constants.scss';
.table_wrap{
  border-radius: 12px;
  padding-bottom: 120px;
  overflow: hidden;
  tbody{
    border-radius: 12px;
  }
  table{
    width: 100%;
    border-collapse: collapse;
    .table_head, .table-row{
      font-size: 14px;
      font-weight: 400;
      background-color: $white;
      text-align: left;
      &:not(:last-child){
        border-bottom: 1px solid $mediumGray;
      }
    }
    .table_head{
      .table_item{
        font-weight: 400;
        color: $darkGray;
      }
    }
    .table-row{
      cursor: pointer;
      transition: all .1s linear;
      &:hover{
        background-color: $lightGray;
      }
    }
    .table_item{
      padding: 16px 24px;
      white-space: nowrap;
      &.category_name{
        width: 100%;
      }
      &.product_name{
        width: 100%;
        max-width: 300px;
        white-space: normal;
      }
    }
  }
}
.category_status{
  color: $green;
  &.disabled{
    color: $darkGray;
  }
}

.table-categories_img{
  border-radius: 6px;
  overflow: hidden;
  width: 53px;
  height: 38px;
}
.table-burger{
  width: 20px;
  height: 13px;
  &.category_burger{
    position: relative;
    .category_list_popup_wrap{
      display: none;
      position: absolute;
      z-index: 10000;
      top: 0;
      right: 0;
      padding-top: 20px;
      .category_list_popup{
        background-color: $white;
        padding: 16px;
        border-radius: 6px;
        box-shadow: 0 3px 15px rgba(0, 0, 0, .1);
        .category_list_popup_item{
          font-size: 16px;
          font-weight: 400;
          color: $black;
          cursor: pointer;
          transition: all .1s linear;
          &.red{
            color: $red;
          }
          &:not(.red):hover{
            color: $mainColor;
          }
          &:not(:last-child){
            margin-bottom: 20px;
          }
        }
      }
    }
    &:hover{
      .category_list_popup_wrap{
        display: block;
      }
    }
  }
}
