@import '../static/constants';
.react_select_container{
  // max-width: 260px;
  width: 100%;
}
.react-select__single-value,
.react-select-small-value{
  color: $black !important;
  font-weight: 400 !important;
  font-size: 16px !important;
  font-family: 'Inter', sans-serif !important;
}
.react-select__value-container,
.react-select-small-container{
  padding-left: 16px!important;
}
.react-select-small-container{
  padding-right: 32px!important;
}
.react-select__control,
.react-select-small__control{
  height: 48px;
  border: none!important;
  border-radius: 6px !important;
}
.react-select__indicator-separator,
.react-select-small__indicator-separator,
.react-select-order-status__indicator-separator{
  display: none;
}
.react-select-small__menu{
  position: absolute!important;
  top: -100px!important;
  right: -70px!important;
}
.react-select-order-status{

}