@import '../static/constants';
.wrapper-class {
  // padding: 1rem;
  padding-top: 10px!important;
  background-color:$white;
  border-radius: 16px;
  overflow: hidden;
}
.editor-class {
  padding: 1rem;

}
.toolbar-class {
  border-top: none!important;
  border-left: none!important;
  border-right: none!important;
  border-bottom: 2px solid $mediumGray !important;

}