$mainColor: #FF8103;
$mainDark: #D96E03;
$white: #fff;
$black: #000;
$darkGray: #A4A6AA; // text
$mediumGray: #E4E4E4; //gray-line
$lightGray: #F4F6F6; //background
$yellow: #F2C533;
$green: #3CE37F;
$red: #F03434;
$paleOrange: #FCE7D6;

$media_768: 768px;
