html, body {
  font-size: 14px;
  line-height: normal;
  font-weight: normal;
}

input, button, textarea, select, option {
  padding: 0;
  border: none;
  outline: none !important;
  box-shadow: none !important;
  background-color: transparent;

  &:focus::-webkit-input-placeholder {
    opacity: 0;
  }
}

a, p {
  margin-bottom: 0;
  text-decoration: none !important;
}

ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

section {
  position: relative;
}

img, svg {
  width: 100%;
  height: 100%;
  display: block;
}

.container, .container-fluid {
  z-index: 5;
  position: relative;
  padding-left: 20px;
  padding-right: 20px;
}

.slick-slide {
  outline: none !important;
}
