/* INCLUDE FONTS HERE */
// @font-face {
//     font-family: 'Inter';
//     src: url('../fonts/Inter-Bold.woff');
//     src: url('../fonts/Inter-Bold.eot?#iefix') format('embedded-opentype'),
//         url('../fonts/Inter-Bold.woff') format('woff'),
//         url('../fonts/Inter-Bold.ttf') format('truetype'),
//         url('../fonts/Inter-Bold.svg#Inter-Bold') format('svg');
//     font-weight: 700;
//     font-style: bold;
//     font-display: swap;
// }
// @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');