@import '../static/constants.scss';
footer{
  background-color: $white;
}
.footer_wrapper{
  display: block;
  padding: 0px 20px 20px 20px;
  max-height: 548px;
}
.footer_ccol{
  display: block;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  &:nth-child(2){
    display: block;
  }
}
.footer_link_list{
  display: flex;
  flex-wrap: wrap;
}
.fotter_col_title{
  font-size: 24px;
  font-weight: 700;
  margin-top: 30px;
  margin-bottom: 25px;
}
.footer_col_subtitle{
  font-size: 18px;
  font-weight: 700;
}
.footerr_col_link{
  padding: 12.5px 0px;
  flex: 1 1 50%;
  a{
    font-size: 14px;
    font-weight: 400;
    color: $black;
    &:hover{
      transition: color .1s linear;
      color: $mainColor;
    }
  }
  &:first-child{
    padding-top: 25px;
  }
  &:last-child{
    padding-bottom: 25px;
  }
}
.footer_info_list{

}
.footer_info_item{
  margin-bottom: 25px;
  display: flex;
  position: relative;
  &:last-child{
    margin: 0;
  }
}
.footer_info_link{
  display: flex;
  flex-wrap: nowrap;
}
.footer_info_icon{
  width: 20px;
  height: 20px;
  margin-right: 8px;
  position: absolute;
  top: -2px;
  left: 0;
}
.footer_info_link_text{
  font-size: 14px;
  font-weight: 400;
  color: $black;
  margin-left: 25px;
  white-space: nowrap;
  &:hover{
    transition: color .1s linear;
    color: $mainColor;
  }
}
.footer_info_link_time{
  color: $darkGray;
  font-size: 12px;
  font-weight: 400;
  margin-left: 8px;
  white-space: nowrap;
}
.footer_socials{
  display: flex;
}
.footer_social_icon{
  width: 20px;
  height: 20px;
  margin-right: 20px;
}
.åfooter_social_item{
  margin-right: 25px;
}
.footer_copyright_wrap{
  width: 100%;
  padding: 30px 0 20px 0;
  display: flex;
  align-items: center;
  position: relative;
  .fotter_col_title{
    display: none;
  }
}
.footer_copyright{
  margin-right: 100%;
  span{
    font-size: 14px;
    font-weight: 400;
    color: $black;
    line-height: 16.96px;
  }
  margin: 0 45px 0 0;
}

.footer_phone_btn{
  position: absolute;
  background-color: $mainColor;
  padding: 12px;
  border-radius: 50%;
  top: 25px;
  right: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 40px;
  height: 40px;
  img{
    width: 15px;
    height: 15px;
  }
}
@media (min-width:$media_768){
  .footer_wrapper{
    display: flex;
    justify-content: space-between;
    padding: 60px 0;
  }
  .footer_ccol {
    align-items: flex-start;
    text-align: left;
    flex-wrap: nowrap;
    &:first-child{
      display: block;
      order: 2;
      .fotter_col_title{
        display: none;
      }
      .footer_col_subtitle{
        padding-bottom: 30px;
        display: block;
      }
      .footer_link_list{
        display: flex;
        .footerr_col_link{
          padding: 0 30px 30px 0;
          flex: 0 1 33.33%;
          white-space: nowrap;
        }
      }
    }
    &:last-child{
      order: 1;
      .footer_copyright_wrap{
        padding: 0;
        .footer_copyright {
          margin-right: 0;
          span{
            display: block;
            max-width: 206px;
            &:last-child{
              margin-top: 50px;
            }
          }
        }
        display: block;
        .fotter_col_title{
          display: block;
          margin-top: 0;
        }
      }
    }
    &:nth-child(2){
      order: 3;
      .fotter_col_title{
        margin-top: 0;
      }
    }
    .footer_subcol{
      &:last-child{
        margin: 30px;
      }
    }
  }
  .footer_phone_btn{
    display: none;
  }

}
