@import '../static/constants.scss';
.header_wrap{
  background-color: $white;
  .header_top_wrap{
    border-bottom: 1px solid $mediumGray;
    display: none;
  }
  .header_top{
    display: flex;
    justify-content: space-between;
    padding: 5px 0 6px 0;
    .header_top_col{
      .header_link{
        color: $black;
        font-weight: 400;
        font-size: 14px;
        cursor: pointer;
        margin-right: 32px;
        white-space: nowrap;
        &:hover{
          color: $mainColor;
          transition: all .1s linear;
        }
        &:last-child{
          margin-right: auto;
        }
      }
      .header_top_phone_link{
        position: relative;
        .header_top_phone_img{
          position: absolute;
          top: 0;
          left: -23.85px;
          width: 15.7px;
          height: 15.7px;
        }
      }
      .header_top_language_btn{
        color: $black;
        font-weight: 600;
        font-size: 14px;
        text-transform: uppercase;
        cursor: pointer;
        &:last-child{
          margin-left: 12px;
        }
        &.active{
          color: $darkGray;
        }
      }
    }
  }
  .header_bottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
    .nav_toggle{
      top: 20px;
      left: 20px;
      display: inline-block;
    }
    .nav_toggle_wrap_mobile{
      display: block;
    }
    .nav_toggle_wrap_desktop {
      display: none;
      background-color: transparent;
      position: absolute;
      top: 0px;
      left: 0px;
      .nav_toggle{
        .toggle_menu{
          border-color: $mainColor;
        }
      }
      .nav_toggle_title{
        visibility: hidden;
      }
    }
    .header_title{
      font-weight: 700;
      font-size: 20px;
      margin: 16px 0 0 44px;
    }
    .header_tools{
      display: flex;
      .header_tools_item{
        position: relative;
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        img{
          width: 24px;
          height: 24px;
        } 
        cursor: pointer;        
        margin-left: 25.5px;
        &:first-child{
          margin: 0;
        }
        .busket_number{
          position: absolute;
          width: 14px;
          height: 14px;
          background-color: $mainColor;
          border-radius: 50%;
          color: white;
          display: inline-flex;
          align-items: center;
          justify-content: center;
          bottom: -3px;
          left: 15px;
        }
        .header_tools_item_title{
          display: none;
          word-wrap: nowrap;
          font-size: 16px;
          font-weight: 400;
          color: $black;
          margin-left: 12px;
          &:hover{
            transition: all .1s linear;
            color: $mainColor;
          }
        }
      }
    }
  }
  
}

// ADAPTIVE
@media (min-width:$media_768) {
  .header_wrap{
    .header_top_wrap{
      display: block;
    }
    .header_bottom{
      padding: 12px 0;
      .header_tools{
        .header_tools_item{
          .header_tools_item_title{
            display: inline-block;
          }
        }
      }
      .header_bottom_left-col{
        display: flex;
        align-items: center;
        .header_title{
          font-weight: 700;
          font-size: 27px;
          margin: 0;
        }
        .nav_toggle_wrap_mobile{
          display: none;
        }
        .nav_toggle_wrap_desktop {
          display: block;
          cursor: pointer;
          background-color: $mainColor;
          position: relative;
          color: $white;
          font-weight: 600;
          padding: 15px 24px 14px 56px;
          border-radius: 6px;
          margin-left: 32px;
          &:hover{
            transition: background-color .1s linear;
            background-color: $mainDark;
          }
          .nav_toggle{
            position: absolute;
            top: 17px;
            left: 24px;
            .toggle_menu{
              border-color: $white;
            }
          }
          .nav_toggle_title{
            visibility: visible;
            font-size: 16px;
            margin: 0;
          }
        }
      }
    }
  }
}
