@import 'admin-header';
@import 'admin-sidebar-left';
@import 'admin-sidebar-right';
@import 'admin-main-content';
@import 'admin-products-search-results';
@import 'admin-product-editing.scss';
@import 'admin-signin.scss';
@import 'admin-orders-search-sidebar.scss';
@import 'admin-orders-search-results.scss';
@import 'admin-clients-page.scss';

*{
  box-sizing: border-box; 
}
form{
  width: 100%;
  text-align: center;
  .admin-signin_input_box{
    margin: 0 auto 17px;
  }
  .admin-signin_btn{
    margin: 0 auto;
  }
}
#admin-page{
  display: flex;
  width: 100%;
  height: 100%;
}
.admin_main_wrap{
  flex: 1 1 100%;
}
.admin_main{
  display: flex;
  height: 100%;
}
.admin_main_content{
  display: flex;
  flex-direction: column;
  padding: 0 40px;
}
input[type='file']{
  display: none;
}
.orange{
  color: $mainColor;
}
.green{
  color: $green;
}
.red{
  color: $red;
}
.bold{
  font-weight: 700;
}