@import '../static/constants';
.admin_products_search_item{
  &.title{
    .admin_clients_search_item_col{
      font-weight: 400;
      font-size: 14px;
      color: $darkGray;
    }
  }
}
.admin_clients_search_item_col{
  flex: 1 1 190px;
  &.name{
    flex: 1 1 240px;
  }
  &.orders{
    flex: 1 1 170px;
  }
  &.phone{
    flex: 1 1 270px;
  }
  &.mail{
    flex: 1 1 225px;
  }
  &.burger{
    flex: 1 1 20px;
  }
}
.about_client{
  margin-bottom: 40px;
}
.about_client_title{
  font-weight: 700;
  font-size: 24px;
  color: $black;
  margin-bottom: 24px;
}
.admin_products_search_item.no-padding{
  padding-bottom: 0;
}
.admin_products_search_item.title{
  .admin_client_about_client_item,
  .admin_orders_info_item{
    font-size: 12px;
  }
}
.admin_products_search_item.bold{
  font-size: 18px;
  font-weight: 700;
  color: $black;
  padding-top: 6px;
  padding-bottom: 0;
}
.admin_client_about_client_item{
  font-weight: 400;
  font-size: 16px;
  &.name{
    flex: 1 1 130px;
  }
  &.phone{
    flex: 1 1 185px;
  }
  &.mail{
    flex: 1 1 160px;
  }
  &.orders{
    flex: 1 1 440px;
  }
}
.client_info{

}
.clients_info_header{
  display: flex;
  margin-bottom: 15px;
}
.navigation_btns{
  min-width: 320px;
  display: flex;
  border-radius: 12px;
  background-color: white;
  font-weight: 400;
  font-size: 16px;
  color: $darkGray;
  cursor: pointer;
}
.navigation_btn_item{
  flex: 1 1 50%;
  padding: 14px 23px 15px;
  text-align: center;
  &.active{
    background-color: $mainColor;
    border-radius: 12px;
    color: $white;
  }
}
.admin_orders_info_item{
  &.all{
    flex: 1 1 175px;
  }
  &.refuses{
    flex: 1 1 135px;
  }
  &.bought{
    flex: 1 1 605px;
  }
  &.order{
    flex: 1 1 72px;
  }
  &.date{
    flex: 1 1 107px;
    color: $darkGray;
  }
  &.status{
    flex: 1 1 169px;
    .status_wrap{
      max-width: 170px;
      padding-right: 10px;
    }
  }
  &.products{
    flex: 1 1 474px;
    font-size: 14px;
    font-weight: 400;
  }
  &.summ{
    flex: 1 1 81px;
  }
  &.all-products{
    flex: 1 1 90px;
  }
  &.paid{
    flex: 1 1 160px;
  }
  &.arrear{
    flex: 1 1 890px;
  }
}
