@import '../static/constants';
.admin_products_search_results_wrap{
  flex: 1 1 100%;
}
.admin_products_search{
  border-radius: 12px;
  background-color: $white;
}
.admin_search_select{
  max-width: 260px;
  width: 100%;
}
.admin_products_search_item{
  display: flex;
  justify-content: space-between;
  padding: 17px 24px;
  align-items: center;
  font-size: 16px;
  font-weight: 400;
  color: $black;
  border-bottom: 1px solid $lightGray;
  transition: background-color .1s linear;
  &:hover{
    background-color: $lightGray;
  }
  &.title{
    color: $darkGray;
    font-weight: 400;
    white-space: nowrap;
    &:hover{
      background-color: $white;
    }
  }
  &.no-border{
    border: 0;
  }
}
.admin_products_search_item_col{
  flex: 1 1 141px;
  margin-right: 15px;
  img{
    width: 20px;
    height: 12px;
    margin-left: auto;
  }
  &:last-child{
    flex: 1 1 93px;
  }
  &.name{
    text-align: left;
    flex: 1 1 398px;
  }
  &.photo{
    flex: 0 1 77px;
    img{
      width: 53px;
      height: 38px;

    }
  }
  &.status{
    color: $green;
  }
}

.admin_products_search_pagination{
  margin: 30px 0;
}
.admin_products_search_pagination_wrap{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.admin_products_search_pagination_select-number{
  width: 65px;
}
.admin_products_search_pagination_buttons{
  display: inline-flex;
  width: fit-content;
  background-color: $white;
  border-radius: 6px;
  font-size: 16px;
  font-weight: 400;
  color: $black;
  overflow: hidden;
}
.pagination_container{
  display: flex;
}
.admin_products_search_pagination_item{
  a, span{
    display: block;
    padding: 15px 16px 14px;
    border-right: 1px solid $lightGray;
    transition: all .1s linear;
    cursor: pointer;
  }
  &:hover, &.active{
    color: $white;
    background-color: $mainColor;
  }
  &:last-child{
    border: none;
  }
  &.start, &.end{
    color: $darkGray;
    &:hover{
      color: $white;
    }
  }
}