@import "../static/constants";
.admin_orders_search_sidebar {
}
.admin_orders_search_sidebar_item {
  padding: 20px 24px;
  border-bottom: 1px solid $mediumGray;
  display: flex;
  justify-content: space-between;
  &.header{
    align-items: center;
  }
}
.admin_orders_search_sidebar_item_left-col,
.admin_orders_search_sidebar_item_right-col {
  flex: 1 1 100%;
  min-height: 100%;
  display: flex;
  align-items: flex-start;
}
.admin_orders_search_sidebar_item_left-col {
}
.admin_orders_search_sidebar_item_right-col {
}
.admin_orders_search_sidebar_header_select {
  max-width: 138px;
  width: 100%;
}
.admin_orders_search_sidebar_header_time {
  color: $darkGray;
  font-size: 16px;
  font-weight: 400;
  white-space: nowrap;
  margin-left: auto;
}
.admin_orders_search_sidebar_order {
}
.admin_orders_search_sidebar_title {
  font-weight: 400;
  font-size: 16px;
  color: $darkGray;
  margin-bottom: 6px;
}
.admin_orders_search_sidebar_name{
  font-weight: 700;
  font-size: 16px;
  color: $mainColor;
  margin-bottom: 6px;
}
.admin_orders_search_sidebar_text{
  font-weight: 400;
  font-size: 16px;
  color: $black;
  margin-bottom: 6px;
  &:last-child{
    margin: 0;
  }
}
.admin_orders_search_sidebar_order_price {
  margin-bottom: 6px;
  &:last-child {
    margin: 0;
  }
  span.black {
    color: $black;
    font-weight: 700;
    font-size: 24px;
  }
  span.green {
    color: $green;
    font-weight: 400;
    font-size: 16px;
  }
  span.red {
    color: $red;
    font-weight: 400;
    font-size: 16px;
    margin-left: 16px;
  }
}
.admin_orders_search_sidebar_order_number {
  color: $black;
  font-weight: 400;
  font-size: 16px;
  margin-left: auto;
}
.admin_orders_search_sidebar_products{
  padding: 20px 24px;
}
.admin_orders_search_sidebar_title{

}
.admin_orders_search_sidebar_products_wrap{

}
.admin_orders_search_sidebar_products_item{
  display: flex;
  border: 2px solid $lightGray;
  border-radius: 12px;
  background-color: $lightGray;
}
.admin_orders_search_sidebar_products_item_img{
  flex: 0 1 150px;
  overflow: hidden;
  min-height: 100%;
  img{
    object-fit: contain;
  }
}
.admin_orders_search_sidebar_products_item_info{
  padding: 15px 12px;
}
.admin_orders_search_sidebar_products_item_suptitle{
  font-size: 12px;
  font-weight: 400;
  color: $darkGray;
  display: flex;
  justify-content: space-between;
}
.admin_orders_search_sidebar_products_item_title{
  font-size: 12px;
  font-weight: 700;
  color: $black;
  margin: 6px 0;
}
.admin_orders_search_sidebar_products_item_price{
  font-size: 12px;
  span.price{
    font-weight: 700;
    color: $mainColor;
  }
  span.amount{
    font-weight: 400;
    color: $black;
    margin-left: 10px;
  }
}