@import '../static/constants';
.admin_sidebar_right{
  width: 100%;
  max-width: 396px;
  background-color: $white;
  border-top-left-radius: 12px;
  &.search-page{
    transition: all .2s linear;
    transform: translateX(100%);
    max-width: 0;
    &.active{
      transform: translateX(0);
      max-width: 396px;
      width: 100%;
    }
    .admin_sidebar_product_preview_title{
      display: none;
    }
    span.stock{
      display: none;
    }
    .admin_sidebar_product_preview_wrap{
      border: none;
    }
    .admin_sidebar_product_preview_img{
      border-radius: 12px;
      border: 1px solid $lightGray;
      overflow: hidden;
    }
    .admin_sidebar_product_preview_info{
      background-color: $white;
      padding: 18px 0 0;
    }
  }
}
.admin_sidebar_product_preview{
  padding: 32px 40px 24px;
}
.admin_sidebar_product_preview_title{
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: 400;
  color: $darkGray;
}
.admin_sidebar_product_preview_wrap{
  border: 1px solid $lightGray;
  border-radius: 12px;
  overflow: hidden;
}
.admin_sidebar_product_preview_img{
  width: 100%;
}
.admin_sidebar_product_preview_info{
  background-color: $lightGray;
  padding: 18px 16px 16px;
}
.admin_sidevar_product_preview_reviews{
}
.admin_sidebar_product_preview_stars{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  img{
    width: 13px;
    height: 12px;
    margin-right: 7px;
  }
  span.stars_count{
    color: $yellow;
    font-weight: 700;
    font-size: 14px;
    margin-right: 7px;
  }
  span.reviews_count{
    font-weight: 400;
    font-size: 12px;
    color: $darkGray;
  }
}
.admin_sidebar_product_preview_article{
  margin: 14px 0 8px;
  font-size: 14px;
  font-weight: 400;
  color: $black;
  display: flex;
  align-items: center;
  span.count{
    color: $darkGray;
    margin-left: auto;
  }
}
.admin_sidebar_product_preview_title{
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: $black;
}
.asmin_sidebar_product_preview_price{
  display: flex;
  align-items: center;
  span{
    &.price_new {
      margin-right: 8px;
    }
    &.stock{
      font-size: 14px;
      font-weight: 400;
      color: $darkGray;
    }
    &.stock{
      margin-left: auto;
    }
  }
}
.admin_sidebar_right_colors{

}
.admin_sidebar_color_item{
  border-top: 1px solid $mediumGray;
  padding: 24px 40px;
  display: flex;
  align-items: center;
}
.admin_sidebar_color_preview-img{
  flex: 0 0 100px;
  height: 100px;
}
.admin_sidevar_color_info{
  padding-left: 20px;
}
.admin_sidebar_color_info_title{
  font-weight: 700;
  font-size: 16px;
}
.admin_sidebar_color_info_price{
  margin: 10px 0;
}
.admin_sidebar_color_info_count{
  font-weight: 400;
  font-size: 14px;
  color: $black;
  margin-bottom: 8px;
  &:last-child{
    margin: 0;
  }
  span.title{
    color: $darkGray;
  }
}
// clients-page
.admin_sidebar_right_client_wrap{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  .admin_sidebar_right_client{
    display: none;
  }
  .admin_sidebar_right_client_unactive-message{
    display: block;
  }
  &.active{
    display: block;
    .admin_sidebar_right_client{
      display: block;
    }
    .admin_sidebar_right_client_unactive-message{
      display: none;
    }
  }
}
.admin_sidebar_right_client{

}
.admin_sidebar_right_client_unactive-message{
  font-weight: 700;
  font-size: 16px;
  color: $darkGray;
}

