@import '../static/constants';

.admin_header{
  padding: 45px 40px;
  display: flex;
  align-items: center;
}
.admin_header_back_btn{
  display: flex;
  align-items: center;
  img{
    width: 24px;
    height: 19px;
  }
  h3{
    font-size: 16px;
    font-weight: 400;
    color: $darkGray;
    margin-right: 16px;
  }
  .small{

  }
}

.admin_header_title{
  font-weight: 700;
  font-size: 32px;
  color: $black;
  margin-right: 32px;
  white-space: nowrap;
  margin-right: auto;
}
.admin_header_subtitle{
  font-size: 12px;
  font-weight: 400;
  color: $darkGray;
  margin-top: 8px;
}
.admin_search_select{
  margin-right: 20px;
  &:last-child{
    margin: 0;
  }
}
.search_input_box{
  margin-left: auto;
  margin-right: 20px;
  position: relative;
  &:before{
    content: '';
    display: block;
    position: absolute;
    top: 16px;
    left: 16px;
    z-index: 1000;
    width: 16px;
    height: 16px;
    background: url('../../img/search.svg') center no-repeat;
  }
  .input_box_input {
    padding: 16px 14px 14px 40px;
    position: relative;
    width: auto;
  }
}
.admin_header_btn{
  //margin-left: 20px;
}