@import "../static/constants";
.admin_product_editing {
}
.admin_product_editing_delete_btn{
  display: flex;
  align-items: flex-end;
  cursor: pointer;
  img{
    width: 16px;
    height: 16px;
    margin-bottom: 16px;
  }
}
.admin_product_editing_block {
  padding: 24px 0;
  border-bottom: 1px solid $mediumGray;
}
.admin_product_editing_block_row {
  display: flex;
  margin-bottom: 24px;
  &:last-child{
    margin: 0;
  }
}
.admin_product_editing_select {
  width: 100%;
  max-width: 300px;
  margin-right: 30px;
  &:last-child {
    margin: 0;
  }
  &.small {
    max-width: 80px;
    margin-left: auto;
  }
}
.admin_product_editing_input_box {
  flex: 0 1 300px;
  margin-right: 30px;
  &:last-child {
    margin-right: 0;
  }
  &.name {
    flex: 1 1 100%;
    // margin-right: 60px;
  }
  &.file{
    margin-right: 30px;
  }
  input {
    font-size: 16px;
  }
}
.admin_product_editing_input_box_icon{
  font-size: 16px;
  font-weight: 400;
  color: $darkGray;
  position: absolute;
  top: 39px;
  right: 16px;
}
.admin_product_multiple_file_upload {
  width: 100%;
  // margin-right: 60px;
}
// =============
.multiple_file_upload {
  width: 100%;
}
.multiple_file_upload_box {
  height: 48px;
  width: 100%;
  border-radius: 6px;
  background-color: $white;
  padding: 6px 16px 0;
  display: flex;
  box-sizing: border-box;
}
.admin_product_editing_row_title{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 24px;
  .title{
    text-align-last: left;
    font-weight: 700;
    font-size: 20px;
    color: $black;
    margin-right: auto;
  }
  .btn{
    font-weight: 400;
    font-size: 16px;
    color: $mainColor;
    position: relative;
    cursor: pointer;
    &:before{
      content: '';
      display: block;
      position: absolute;
      top: 3px;
      left: -25px;
      width: 16px;
      height: 16px;
      background: url('../../img/plus-orange.svg') center no-repeat;
    }
  }
}
.multiple_file_upload_files{
  flex: 1 1 100%;
  display: flex;
  flex-wrap: wrap;
}
.multiple_file_upload_file{
  margin-right: 12px;
  margin-bottom: 6px;
  padding: 9px 12px 8px;
  border-radius: 6px;
  background-color: $paleOrange;
  display: flex;
  align-items: center;
  img{
    cursor: pointer;
    width: 8px;
    height: 8px;
    margin-left: 5px;
  }
}
.multiple_file_upload_btn {
  align-self: center;
  cursor: pointer;
  img {
    width: 16px;
    height: 16px;
  }
}
// ===============
