@import '../static/constants';
.admin_products_search_item{
  &.title{
    .admin_orders_search_item_col{
      font-weight: 400;
      font-size: 14px;
      color: $darkGray;
    }
  }
}
.admin_orders_search_item_col{
  flex: 1 1 86px;
  font-size: 16px;
  font-weight: 400;
  color: $black;
  &.number{
    flex: 1 1 175px;
    span{
      font-weight: 700;
    }
    span.date{
      font-size: 12px;
      font-weight: 400;
      color: $darkGray;
      margin-left: 8px;
    }
  }
  &.name{
    flex: 1 1 185px;
  }
  &.phone{
    flex: 1 1 224px;
  }
  &.price{
    flex: 1 1 145px;
    font-weight: 700;
  }
  &.status{
    flex: 1 1 150px;
  }
}
.admin_orders_search_item_burger{
  display: flex;
  justify-content: center;
  img{
    height: 12px;
    width: 20px;
  }
}