@import '../static/constants';
.admin_sidebar_left{
  height: 100vh;
  width: 100%;
  max-width: 88px;
  transition: all .1s linear;
  .admin_sidevar_left_wrap{
    transition: all .1s linear;
    background-color: $white;
    padding: 24px 16px 40px;
    position: fixed;
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  &.active{
    .admin_sidevar_left_wrap{
      padding: 24px 30px 40px;
    }
    max-width: 240px;
    .admin_sidebar_left_logo{
      svg{
        display: block;
      }
      .short{
        svg{
          display: none;
        }
      }
    }
    .admin_sidebar_left_nav_item{
      justify-content: flex-start;
    }
    .admin_sidebar_left_nav_title{
      display: block;
    }
    .admin-sidebar_left_toggle_btn{
      justify-content: flex-start;

      h3{
        display: block;
      }
      img{
        transform: rotate(0deg);
      }
    }
  }
}
.admin_sidebar_left_logo{
  padding-bottom: 40px;
  svg{
    width: 180px;
    height: 59px;
    margin: 0 auto;
    display: none;
  }
  .short{
    svg{
      width: 56px;
      height: 42px;
      display: block;
    }
  }
}
.admin_sidevar_left_nav{
  border-bottom: 1px solid $mediumGray;
}
.admin_sidebar_left_nav_item{
  display: flex;
  align-items: center;
  padding-bottom: 34px;
  justify-content: center;
  svg path{
    fill: $darkGray;
  }
  &.active{
    .admin_sidebar_left_nav_title{
      color: $mainColor;
    }
    svg path{
      fill: $mainColor;
    }
  }
}
.admin_sidebar_left_nav_icon{
  svg{
    width: 24px;
    height: 23px;
    path{
      fill:$darkGray
    }
  }
}
.admin_sidebar_left_nav_title{
  display: none;
  font-weight: 400;
  font-size: 16px;
  color: $darkGray;
  margin-left: 16px;
  transition: all .1s linear;
  cursor: pointer;
  &:hover{
    color: $mainColor;
  }
}
.admin_sidevar_left_options{
  padding-top: 34px;
  flex: 1 1 100%;
}
.admin-sidebar_left_toggle_btn{
  display: flex;
  justify-content: center;
  img{
    transform: rotate(180deg);
  }
  h3{
    display: none;
  }
}