@import '../static/constants';
.admin-signin{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
}
.admin-signin_wrap{
  max-width: 363px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.admin-signin_title{
  font-size: 48px;
  font-weight: 700;
  color: $black;
  margin-bottom: 40px;
  text-align: center;
}
.admin-signin_input_box{
  max-width: 260px;
  width: 100%;
  margin-bottom: 17px;
  .admin-signin_input_box_img{
    cursor: pointer;
    width: 26px;
    height: 16px;
    position: absolute;
    top: 16px;
    right: 16px;
  }
}
.admin-signin_btn{
  max-width: 260px;
  width: 100%;
}
@media (max-width: $media_768) {
  .admin-signin_title{
    font-size: 32px;
    margin-bottom: 30px;
  }
  .admin-signin_input_box,
  .admin-signin_btn{
    max-width: 220px;
    margin-bottom: 15px;
  }
}